[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Distributacalcul"]
	path = Distributacalcul
	url = https://github.com/alec42/distributacalcul_package
